## Pandas Samples ##

### Uber taxi Drivers ###

dataset about 10000 Uber rides from one day in New York city. 
The columns give information about time and location of each pickup

In [1]:
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
uber_df = pd.read_csv('./data-files/pandas/uber-apr14.csv')
uber_df.columns

Index(['Id', 'Date/Time', 'Lat', 'Lon', 'Base'], dtype='object')

In [4]:
uber_df.sample(3)

        Id          Date/Time      Lat      Lon    Base
4238  4238  4/4/2014 10:56:00  40.7595 -74.0225  B02512
3072  3072  4/3/2014 16:35:00  40.7608 -73.9775  B02512
7183  7183   4/6/2014 9:02:00  40.7599 -73.9846  B02512

In [3]:
uber_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Id         10000 non-null  int64
 1   Date/Time  10000 non-null  object
 2   Lat        10000 non-null  float64
 3   Lon        10000 non-null  float64
 4   Base       10000 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 390.8+ KB

In [ ]:
# column 'Date/Time' is in object format, lets correct it
uber_df.apply(x : )