## Data Types

***Variables and Conditionals***

In [1]:
x = 21
print ('x:',x,type(x)) #type is defined by the value it refers to
y = 4.1
print ('y:',y,type(y))
x = x * y
print ('x:',x,type(x)) #type of value it refers to can change over the course of program execution
x = 'Sandeep Mewara'
print ('x:',x,type(x)) #str - string

x: 21 <class 'int'>
y: 4.1 <class 'float'>
x: 86.1 <class 'float'>
x: Sandeep Mewara <class 'str'>

In [2]:
#some simple operations
x=2
x+=10 # x=x+10
print (x)

x*=5  # x=x*5
print (x)

x = 10
print (x**2) #raise to the power of 2

12
60
100

*** Conditional statements ***

In [3]:
x=75
if x > 100:
    print ("More")
elif x > 70:
    print ("Less")
else:
    print ("Not defined")

Less

In [4]:
x,y = 10,5  # x = 10;y = 5
if x > 5 and y<10: # 'and' evaluates to true only if all the conditions are true
    print ('and condition')

if x > 10 or y == 5: # 'or' evaluates to true if either of the condition are true
    print ('or condition')

if not x == 100: # 'not' toggles true to false & vice versa
    print ('not condititon')

and condition
or condition
not condititon

*** String manipulations ***

In [5]:
s = "Python for Machine Learning"
print (s[0]) #Print the first character

t = 'Data Science'
q = """is awesome!
Know it's power."""
print (t, q)
print (q[3:11])

P
Data Science is awesome!
Know it's power.
awesome!

In [6]:
s = 'Python for Machine Learning.' 
print (s*2) # '*' operator on string repeats the string

v = "... Learn by Insight!!!" 
t = s + v # concatenate strings
print(t)

Python for Machine Learning.Python for Machine Learning.
Python for Machine Learning.... Learn by Insight!!!

In [7]:
s="sandeep mewara" 

#s[0]='H' #trying to replace ’h’ with ’H’ => INCORRECT
s = s.replace('s','S')
print (s)
t = s.replace('m','M')
print (s,',',t) # original string is preserved

Sandeep mewara
Sandeep mewara , Sandeep Mewara

In [8]:
x = "I got my BTech from %s in year %d" %('IIT',2005) # string construction
print(x)

I got my BTech from IIT in year 2005

***Type conversion***

In [9]:
a,b='18','54.8'
print (a+b) # a,b => they are strings, not numbers.

1854.8

In [10]:
s,t=5,10
print (str(s)+str(t)) # non-string to string add
print (s+t) # normal add

510
15

***Formatting Strings***

In [11]:
#% is a format operator and %d, %s, %f are special format sequences

print("%15s"%"FillWord") # right align in a column width 15
print("There is %-8s space"%"more") # negative number for left alignment

print("%4d"%42) #convert to 4 decimals
print("%04d"%42) #pack leading zeros

print("%.3f"%42.34656) # %.<fixed number of digits to the right of Dot.>f
print("%.5f"%42.34)

FillWord
There is more     space
  42
0042
42.347
42.34000

In [12]:
print ("Formatting using the format func: {0:.3f}lakh {1:02d}km {2:5s}".format(2.1,4,"LearnByInsight"))

Formatting using the format func: 2.100lakh 04km LearnByInsight

In [13]:
print ('milk' in 'milky way')
print ('a' in 'milk')

True
False

## Data Structures

***List***

In [14]:
# indexed by integers, starting from 0.

l=[1,2,3,5,8,13] #items of the same type
print (l)

lst=[1,'x',2,'t',3.0] #items of mixed types
print (lst)

[1, 2, 3, 5, 8, 13]
[1, 'x', 2, 't', 3.0]

In [15]:
lst = [1,2,3,5,8,'sm',13,21,34]
print ("List:",lst)
print ("Length of the list:",len(lst)) #length of the list

pop_element = lst.pop() #pop by default removes & returns the last element from the list
print ("Popped out element:%s,\nList after pop operation:%s"%(pop_element,lst))

lst.pop(2) #pop can also be used to remove an element based on index starting from 0
print (lst)

List: [1, 2, 3, 5, 8, 'sm', 13, 21, 34]
Length of the list: 9
Popped out element:34,
List after pop operation:[1, 2, 3, 5, 8, 'sm', 13, 21]
[1, 2, 5, 8, 'sm', 13, 21]

In [16]:
lst = [1,2,3,5,8,'sm']
print ("Before deleting:",lst)
del lst[len(lst)-1]
print ("After deleting 2nd element",lst)

Before deleting: [1, 2, 3, 5, 8, 'sm']
After deleting 2nd element [1, 2, 3, 5, 8]

In [17]:
lst = [1,2,3,5,8,'sm']
lst.insert(2,"insert") #insert at an index
print (lst)

[1, 2, 'insert', 3, 5, 8, 'sm']

In [18]:
lst = [1,2,3,5,8,'sm']
last_element = lst[-1] #negative index to access list elements from the end, -1 refers to the last element of the list
last_element

'sm'

In [19]:
# List copy

x = [1,2,3,5,8]
x_copy = x #copy the contents of the list x
x_copy[3] = -3 # change the content of the new list x_copy
print (x,x_copy) # change made to the copied list affects original list too

[1, 2, 3, -3, 8] [1, 2, 3, -3, 8]

In [20]:
#List Splicing

x = [1,2,3,5,8,'sm']
x_copy = x[:] # [start:end:step] default step 1. Returns a new list from start to end-1

print ("List x:",x)
print ("List x_copy", x_copy)

print ("x[1:3]=%s, x[:3]=%s, x[2:]=%s, x[-2:]=%s"%(x[1:3],x[:3],x[2:],x[-2:]))
print ("x[1:5:2]=%s"%x[1:5:2] ) #with step 2

List x: [1, 2, 3, 5, 8, 'sm']
List x_copy [1, 2, 3, 5, 8, 'sm']
x[1:3]=[2, 3], x[:3]=[1, 2, 3], x[2:]=[3, 5, 8, 'sm'], x[-2:]=[8, 'sm']
x[1:5:2]=[2, 5]

In [21]:
x = [1,2,3,5,8,'sm']
print (x)
del x[1:3] # Remove more than one element
print (x)

[1, 2, 3, 5, 8, 'sm']
[1, 5, 8, 'sm']

In [22]:
lst = [1,2,3,5,8,'sm']
print ("List:",lst)

lst.append(13)  #add a single element
print ("Appending single element 13:",lst)

lst.extend([-13,-8]) #add more than one element
print ("Adding more than one element -13 & -8:",lst)

List: [1, 2, 3, 5, 8, 'sm']
Appending single element 13: [1, 2, 3, 5, 8, 'sm', 13]
Adding more than one element -13 & -8: [1, 2, 3, 5, 8, 'sm', 13, -13, -8]

In [23]:
lst = [1,2,3,5,8,'sm']
lst.append([-5,-8]) #list of list
print ("Appending a list [-5,-8]:",lst)

mat = [[2,1],[4,3]] #Define a matrix
print ("Matrix: ",mat)
print ("Accessing individual elements: 2nd element in 1st row:",mat[0][1])

Appending a list [-5,-8]: [1, 2, 3, 5, 8, 'sm', [-5, -8]]
Matrix:  [[2, 1], [4, 3]]
Accessing individual elements: 2nd element in 1st row: 1

In [24]:
lst = [1,2,3,5,8,'sm']
print ("list:",lst) 
print ("5 in list:",5 in lst)
print ('a in list:','a' in lst)

list: [1, 2, 3, 5, 8, 'sm']
5 in list: True
a in list: False

In [25]:
text = "Machine Learning is awesome !!!"
word_list = text.split() #split by space
print (text,"\nWord list",word_list)

text = "Split,this,string,using,comma,separator"
ex_list=text.split(',') #comma as delimiter
print ("ex_list:",ex_list)

Machine Learning is awesome !!!
Word list ['Machine', 'Learning', 'is', 'awesome', '!!!']
ex_list: ['Split', 'this', 'string', 'using', 'comma', 'separator']

In [26]:
text = "Machine Learning is awesome !!!"
word_list = text.split()
print ("List of words",word_list)
sentence = " ".join(word_list)
print ("Reconstruct:",sentence)

new_delimiter_sentence = "*".join(word_list) #via different delimiter
print ("Reconstructed using a '*':", new_delimiter_sentence)

List of words ['Machine', 'Learning', 'is', 'awesome', '!!!']
Reconstruct: Machine Learning is awesome !!!
Reconstructed using a '*': Machine*Learning*is*awesome*!!!

In [27]:
s = "   Water vapor and icy particles errupt from Enceladus  "
t = s.strip() #remove leading and trailing whitespace if no chars is given in strip
print(t)

Water vapor and icy particles errupt from Enceladus

***Tuple***

In [28]:
t = 1,2,'a','x',3,5
print (type(t),t)
print (t[3]) #access the elements the same way as in Lists
print (t[2:5])

t= (1,'a',2,'x') #Define a tuple enclosing it in a parantheses
print(t)

t = 10  #Tuple with a single element
print (type(t),t)

t = tuple() #an empty tuple
print (type(t),t)

t = tuple('tuple') #Argument string
print (type(t),t) 

t = tuple([1,2,3,5]) #Argument list
print (type(t),t) 

t = tuple(['sm','lbi']) #Argument list
print (type(t),t)

<class 'tuple'> (1, 2, 'a', 'x', 3, 5)
x
('a', 'x', 3)
(1, 'a', 2, 'x')
<class 'int'> 10
<class 'tuple'> ()
<class 'tuple'> ('t', 'u', 'p', 'l', 'e')
<class 'tuple'> (1, 2, 3, 5)
<class 'tuple'> ('sm', 'lbi')

In [29]:
d = dict() #create an empty dictionary
print (d)

space_probes = {"voyager1":1977,"cassini":1997,"juno":2011,"mangalyaan":2013} # colon ':', separates the key and value
print (type(space_probes),space_probes)

print (space_probes['juno']) #Accessing dictionary values

# Tuples as keys of the dictionary 
name_id_num = {("Sandeep","Mewara"):24568,("Code","Projct"):7418}
print (name_id_num)
print (name_id_num[("Sandeep","Mewara")])

{}
<class 'dict'> {'voyager1': 1977, 'cassini': 1997, 'juno': 2011, 'mangalyaan': 2013}
2011
{('Sandeep', 'Mewara'): 24568, ('Code', 'Projct'): 7418}
24568

In [30]:
# range
x = range(10)
print (type(x),x)

for i in x:
    print (i,end=" ")

print('\nRange defined:')
for j in range(3,9):
    print (j,end=" ")

print('\nRange defined with steps defined:')
x = range(2,21,3)
for i in x:
    print (i,end=" ")

<class 'range'> range(0, 10)
0 1 2 3 4 5 6 7 8 9
Range defined:
3 4 5 6 7 8
Range defined with steps defined:
2 5 8 11 14 17 20

In [31]:
# while
lst =[7,3,5,2,9,1]
i=0
while lst[i] > 2:
    i=i+1

print (i)

3

In [32]:
#continue

x = [1,3,4,8,9,5]
for i in x:
    if i%2 == 0:
        continue 
    print (i)

1
3
9
5

In [33]:
# break
x = [1,2,3,4,-5,8,9]
for i in x:
    if i < 0:
        break
    print (i)

1
2
3
4

In [34]:
# zip
lst1 = range(5)
lst2 = range(5,10)

for x,y in zip(lst1,lst2):
    print (x,y,x+y)

0 5 5
1 6 7
2 7 9
3 8 11
4 9 13

In [35]:
#using zip to find the max element and index in a list
lst = [1,5,2,17,8,-2]
print (max(lst))
lst_index = list(zip(lst,range(len(lst))))
print (lst_index)
print ("Max val and idx",max(lst_index))

17
[(1, 0), (5, 1), (2, 2), (17, 3), (8, 4), (-2, 5)]
Max val and idx (17, 3)

In [36]:
# list comprehension
#Generate the squares of the first 'n' numbers
number_squares = [x*x for x in range(5)]
print (number_squares)

#list of even numbers upto 10
even_nos = [x for x in range(10) if x%2]
print (even_nos)

even_nos = [x for x in range(1,10,2)]
print (even_nos)

#remove spaces from the word list 
word_list = [' river','hills  ',' and','shepherd']
new_list = [word.strip() for word in word_list] #string the leading and trailing spaces
new_list

[0, 1, 4, 9, 16]
[1, 3, 5, 7, 9]
[1, 3, 5, 7, 9]

['river', 'hills', 'and', 'shepherd']

## Functions

In [37]:
def find_avg(x):
    avg = sum(x)/len(x)
    return avg

print (find_avg([1,2,3,5,8,13]))
print (find_avg([1,-2,3,-5]))

5.333333333333333
-0.75

In [38]:
def prod(x,y,z=1): 
    return (x+1)*(y+2)*(z+3)

print (prod(1,2,3))
print (prod(1,2)) # z default is defined so can be skipped
print (prod(x=1,y=5))
print (prod(z=2,y=1,x=0)) #Supply arguments in arbitary order

48
32
56
15

In [39]:
# variable scope
x = 5
y = -5
def check_scope():
    global x 
    x = 10
    y = 20
    print ("x,y => Inside the func:",x,y)

check_scope()
print ("x,y => Outside the func:",x,y)

x,y => Inside the func: 10 20
x,y => Outside the func: 10 -5

In [40]:
def sum_num(x,*y): # can accept a variable number of arguments if we add * to the last parameter name
    print ("Variable length arg:",y)
    s = x
    for i in y:
        s+=i
    return i
print (sum_num(10,20))
print (sum_num(11,22,33,44,55))

Variable length arg: (20,)
20
Variable length arg: (22, 33, 44, 55)
55

*** List Comprehension ***

In [4]:
lst = [i for i in range(5)]
lst

[0, 1, 2, 3, 4]

In [1]:
# matrix of 4*3
row_num = 4
col_num = 3
multi_list = [[0 for col in range(col_num)] for row in range(row_num)]
multi_list

[[0, 0, 0], [0, 0, 0], [0, 0, 0], [0, 0, 0]]

*** Zip & Pack ***

In [9]:
# Merge/Pack two lists into list of tuples
#1: Using zip
lst1 = (1,3,5,7)
lst2 = (2,4,6,8)
#zip
lst = list(zip(lst1,lst2))
print ('tuples using zip', lst)
for i,j in lst:
    print (i,j)

tuples using zip [(1, 2), (3, 4), (5, 6), (7, 8)]
1 2
3 4
5 6
7 8

In [8]:
#2: Using map
print ('tuples using map', list(map(lambda x, y:(x,y), lst1, lst2)))

tuples using map [(1, 2), (3, 4), (5, 6), (7, 8)]

In [15]:
# Unpack tuples into list back

unpack_lst1, unpack_lst2 = list(zip(*lst))
print ('lst1_back: ',unpack_lst1)
print ('lst2_back: ',unpack_lst2)

lst1_back:  (1, 3, 5, 7)
lst2_back:  (2, 4, 6, 8)