## PYTHON SAMPLES ##

*** Palindrome ***

In [1]:
def ispalindrome(x):
    reverse_x = str(x)[::-1] #convert to string and then read reverse
    return str(x) == reverse_x

print("IsPalindrome(123321):",ispalindrome(123321))

IsPalindrome(123321): True

*** Sum of Squares ***

In [2]:
def sumsquares(n):
    return sum(map(lambda x:x**2, range(1,n+1))) #Anonymous function was enough to define square of numbers range 1 to n

print("SumOfSquare(5):", sumsquares(5))

SumOfSquare(5): 55

*** Sort Students marks list ***

In [3]:
# data-file: studentmarks1.csv
student_marks1 = open('./data-files/python-examples/studentmarks1.csv','r')
marks_list = student_marks1.read().splitlines()
marks_list

['niya,15',
 'sandeep,25',
 'murari,20',
 'john,30',
 'swarnima,40',
 'sanjay,20',
 'swetha,15',
 'sri,35',
 'pratul,37',
 'siva,40',
 'lalit,40']

In [4]:
marks_dict = {} #hve the entire data in dictionary as key-value pair to sort 
for studententry in marks_list:
    name,marks = studententry.split(',')
    marks_dict[name]= int(marks)

sorted(marks_dict.items(), key=lambda x:x[1], reverse=True) #use sorted on marks data

[('swarnima', 40),
 ('siva', 40),
 ('lalit', 40),
 ('pratul', 37),
 ('sri', 35),
 ('john', 30),
 ('sandeep', 25),
 ('murari', 20),
 ('sanjay', 20),
 ('niya', 15),
 ('swetha', 15)]

*** Sort Students marks list based on two columns, 1st column is priority, 2nd to decide if tie ***

In [5]:
# data-file: studentmarks2.csv
student_marks1 = open('./data-files/python-examples/studentmarks2.csv','r')
marks_list = student_marks1.read().splitlines()
marks_list

['sandeep,30.666,45',
 'swetha,30.666,30',
 'niya,40.25,25',
 'swarima,20,15',
 'siva,15,34.666',
 'lalit,20,20',
 'john,37,20',
 'murari,40.25,15',
 'sanjay,20,20',
 'sri,20,29']

In [6]:
marks_dict = {} #hve the entire data in dictionary as key-value pair to sort 
for studententry in marks_list:
    name,marks1,marks2 = studententry.split(',')
    marks_dict[name]= float(marks1), float(marks2) #tuple stored for each key

sorted(marks_dict.items(), key=lambda x:(x[1][0],x[1][1]), reverse=True) #x[1] => marks tuple. x[1][y] => yth location in tuple. (1,2) < (1,3)

[('niya', (40.25, 25.0)),
 ('murari', (40.25, 15.0)),
 ('john', (37.0, 20.0)),
 ('sandeep', (30.666, 45.0)),
 ('swetha', (30.666, 30.0)),
 ('sri', (20.0, 29.0)),
 ('lalit', (20.0, 20.0)),
 ('sanjay', (20.0, 20.0)),
 ('swarima', (20.0, 15.0)),
 ('siva', (15.0, 34.666))]

*** Format Students marks list to 2 decimal places in table ***

In [7]:
# data-file: studentmarks2.csv
student_marks1 = open('./data-files/python-examples/studentmarks2.csv','r')
marks_list = student_marks1.read().splitlines()
marks_list

['sandeep,30.666,45',
 'swetha,30.666,30',
 'niya,40.25,25',
 'swarima,20,15',
 'siva,15,34.666',
 'lalit,20,20',
 'john,37,20',
 'murari,40.25,15',
 'sanjay,20,20',
 'sri,20,29']

In [8]:
for ml in marks_list:
    name,marks1,marks2 = ml.split(',')
    print("{0:10s} {1:.2f} {2:.2f}".format(name,float(marks1),float(marks2)))
    # Refer for formatting: https://www.python-course.eu/python3_formatted_output.php

sandeep    30.67 45.00
swetha     30.67 30.00
niya       40.25 25.00
swarima    20.00 15.00
siva       15.00 34.67
lalit      20.00 20.00
john       37.00 20.00
murari     40.25 15.00
sanjay     20.00 20.00
sri        20.00 29.00

*** Word Frequency ***

The file <code>novel_conard.txt</code> contains the text of a book by Joseph Conard. We wish construct a dictionary that stores the number of times each word appears. Common words like <code>an, the, is, by</code>  are called stop words are not of much interest. So we want to construct a word frequency dictionary after removing the stop words from the novel. The list of stop_words is given in the file <code>stopwords.txt</code>.

In [9]:
novel_file = open('./data-files/python-examples/novel_conard.txt','r')
novel_text = novel_file.read().splitlines()
novel_text[0:10]

['\ufeffThe Project Gutenberg EBook of Heart of Darkness, by Joseph Conrad',
 '',
 'This eBook is for the use of anyone anywhere at no cost and with',
 'almost no restrictions whatsoever.  You may copy it, give it away or',
 're-use it under the terms of the Project Gutenberg License included',
 'with this eBook or online at www.gutenberg.org',
 '',
 '',
 'Title: Heart of Darkness',
 '']

In [10]:
stop_file = open('./data-files/python-examples/stopwords.txt','r')
stop_word_list = stop_file.read().splitlines()
stop_word_list[0:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', 'your']

In [11]:
novel_text = " ".join(novel_text) # convert into continous text
novel_text [0:50]

'\ufeffThe Project Gutenberg EBook of Heart of Darkness,'

In [12]:
novel_words = novel_text.split()

In [13]:
words_dict={}
for word in novel_words:
    if word.lower() not in stop_word_list:
        words_dict[word]=words_dict.get(word,0)+1

print("No. of words in Words dictionary:", len(words_dict))
print("Top 10 words with frequency are:")
sorted(words_dict.items(), key=lambda x:x[1], reverse=True)[:10] #show top 10

No. of words in Words dictionary: 9358
Top 10 words with frequency are:

[('would', 130),
 ('like', 111),
 ('one', 107),
 ('could', 107),
 ('Project', 78),
 ('see', 74),
 ('man', 71),
 ('said', 68),
 ('seemed', 66),
 ('made', 64)]

In [14]:
#END of few examples